<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>  
		<property name="hibernate.connection.username">ouro_app_us</property>
		<property name="hibernate.connection.password">ouro_app_pw</property>

		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.idle_test_period">750</property>
		<property name="hibernate.c3p0.timeout">300</property>

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</property>

		<!-- entidades -->

		<!-- SGO -->
		<mapping class="br.com.sgo.modelo.Empresa" />
		<mapping class="br.com.sgo.modelo.Organizacao" />
		<mapping class="br.com.sgo.modelo.OrganizacaoInfo" />
		<mapping class="br.com.sgo.modelo.TipoOrganizacao" />
		<mapping class="br.com.sgo.modelo.Imagem" />
		<mapping class="br.com.sgo.modelo.Banco" />
		<mapping class="br.com.sgo.modelo.BancoProduto" />
		<mapping class="br.com.sgo.modelo.BancoProdutoTabela" />
		<mapping class="br.com.sgo.modelo.Coeficiente" />
		<mapping class="br.com.sgo.modelo.Contrato" />
		<mapping class="br.com.sgo.modelo.Convenio" />
		<mapping class="br.com.sgo.modelo.Modalidade" />
		<mapping class="br.com.sgo.modelo.NaturezaProfissional" />
		<mapping class="br.com.sgo.modelo.Seguro" />
		<mapping class="br.com.sgo.modelo.Formulario" />
		<mapping class="br.com.sgo.modelo.Logistica" />
		<mapping class="br.com.sgo.modelo.Periodo" />
		<mapping class="br.com.sgo.modelo.TipoLogistica" />
		
		<mapping class="br.com.sgo.modelo.Agente" />
		<mapping class="br.com.sgo.modelo.Controle" />
		<mapping class="br.com.sgo.modelo.ControleFormulario" />
		<mapping class="br.com.sgo.modelo.TipoControle" />		
		<mapping class="br.com.sgo.modelo.Conferencia" />		
		<mapping class="br.com.sgo.modelo.ProcedimentoConferencia" />
		<mapping class="br.com.sgo.modelo.TipoProcedimento" />
		
		<mapping class="br.com.sgo.modelo.Operacao" />
		<mapping class="br.com.sgo.modelo.Sala" />
		<mapping class="br.com.sgo.modelo.OperacaoSala" />

		<mapping class="br.com.sgo.modelo.ElementoBd" />
		<mapping class="br.com.sgo.modelo.CampoFormulario" />
		<mapping class="br.com.sgo.modelo.CategoriaParceiro" />
		<mapping class="br.com.sgo.modelo.CategoriaProduto" />
		<mapping class="br.com.sgo.modelo.ClassificacaoParceiro" />
		<mapping class="br.com.sgo.modelo.ClassificacaoBanco" />
		<mapping class="br.com.sgo.modelo.ColunaBd" />
		<mapping class="br.com.sgo.modelo.FormulariosJanela" />
		<mapping class="br.com.sgo.modelo.GrupoBanco" />
		<mapping class="br.com.sgo.modelo.GrupoParceiro" />
		<mapping class="br.com.sgo.modelo.GrupoProduto" />
		<mapping class="br.com.sgo.modelo.SubGrupoProduto" />
		<mapping class="br.com.sgo.modelo.Idioma" />
		<mapping class="br.com.sgo.modelo.Menu" />
		<mapping class="br.com.sgo.modelo.Janela" />
		<mapping class="br.com.sgo.modelo.Perfil" />
		<mapping class="br.com.sgo.modelo.PerfilJanelaAcesso" />
		<mapping class="br.com.sgo.modelo.PerfilOrgAcesso" />
		<mapping class="br.com.sgo.modelo.TabelaBd" />
		<mapping class="br.com.sgo.modelo.TipoDadoBd" />
		<mapping class="br.com.sgo.modelo.TipoParceiro" />
		<mapping class="br.com.sgo.modelo.TipoProduto" />
		<mapping class="br.com.sgo.modelo.TipoTabela" />
		<mapping class="br.com.sgo.modelo.TipoContato" />		
		<mapping class="br.com.sgo.modelo.TipoSaque" />
		
		<mapping class="br.com.sgo.modelo.Agencia" />
		<mapping class="br.com.sgo.modelo.TipoConta" />
		<mapping class="br.com.sgo.modelo.ContaBancaria" />
		
		<mapping class="br.com.sgo.modelo.TipoEndereco" />
		<mapping class="br.com.sgo.modelo.Usuario" />
		<mapping class="br.com.sgo.modelo.UsuarioOrgAcesso" />
		<mapping class="br.com.sgo.modelo.UsuarioPerfil" />

		<mapping class="br.com.sgo.modelo.ParceiroNegocio" />
		<mapping class="br.com.sgo.modelo.ParceiroLocalidade" />
		<mapping class="br.com.sgo.modelo.ParceiroContato" />
		<mapping class="br.com.sgo.modelo.ParceiroBeneficio" />
		<mapping class="br.com.sgo.modelo.ParceiroInfoBanco" />
		<mapping class="br.com.sgo.modelo.MeioPagamento" />
		<mapping class="br.com.sgo.modelo.HisconBeneficio" />
		<mapping class="br.com.sgo.modelo.HistoricoHiscon" />
		<mapping class="br.com.sgo.modelo.HistoricoControle" />
		<mapping class="br.com.sgo.modelo.HistoricoControleFormulario" />
		<mapping class="br.com.sgo.modelo.HistoricoContrato" />

		<mapping class="br.com.sgo.modelo.Departamento" />
		<mapping class="br.com.sgo.modelo.Funcao" />
		<mapping class="br.com.sgo.modelo.Localidade" />
		<mapping class="br.com.sgo.modelo.TipoLocalidade" />
		<mapping class="br.com.sgo.modelo.Regiao" />
		<mapping class="br.com.sgo.modelo.Cidade" />
		<mapping class="br.com.sgo.modelo.Pais" />
		<mapping class="br.com.sgo.modelo.Funcionario" />
		<mapping class="br.com.sgo.modelo.Produto" />
		<mapping class="br.com.sgo.modelo.Tabela" />
		<mapping class="br.com.sgo.modelo.Sexo" />
		<mapping class="br.com.sgo.modelo.EstadoCivil" />
		<mapping class="br.com.sgo.modelo.Calendario" />

		<mapping class="br.com.sgo.modelo.Etapa" />
		<mapping class="br.com.sgo.modelo.Workflow" />
		<mapping class="br.com.sgo.modelo.WorkflowEtapa" />
		<mapping class="br.com.sgo.modelo.WorkflowPerfilAcesso" />
		<mapping class="br.com.sgo.modelo.WorkflowTransicao" />
		<mapping class="br.com.sgo.modelo.TipoWorkflow" />
		

	</session-factory>
</hibernate-configuration>
